.p0 {
    padding: 0 !important;
}

.p1 {
    padding:0.5em;
}

.p2 {
    padding: 1em;
}

.nowrap {
    white-space: nowrap;
}

.p3 {
    padding: 2em;
}

.p4 {
    padding: 3em;
}

.pl1 {
    padding-left:.5em;
}

.pl2 {
    padding-left:1em;
}

.py1 {
    margin-top:.5em;
    margin-bottom: .5em;
}

.py2 {
    margin-top:1em;
    margin-bottom: 1em;
}

.pr0 {
    padding-right: 0;
}

.m0 {
    margin:0 !important;
}

.mt1{
    margin-top:0.5em;
}

.mt2 {
    margin-top:1em;
}

.mt3 {
    margin-top: 2em;
}

.mx-1 {
    margin-left: .5em;
    margin-right: .5em;
}

.m1 {
    margin: .5em;
}

.m3 {
    margin: 2em;
}

.ml1 {
    margin-left: .5em;
}

.ml2 {
    margin-left: 1em;
}

.ml3 {
    margin-left: .5em;
}

.mr1 {
    margin-right: .5em;
}

.mr2 {
    margin-right: 1em;
}

.mr3 {
    margin-right: .5em;
}

.my0 {
    margin-top:0;
    margin-bottom: 0;
}

.my1 {
    margin-top: .5em;
    margin-bottom: .5em;
}

.my2 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.mb0 {
    margin-bottom: 0;
}

.mb1 {
    margin-bottom: .5em;
}

.mb2 {
    margin-bottom: 1em;
}

.r0 {
    right: 0;
}

.t0 {
    top:0;
}

.l0 {
    left: 0;
}

.b0 {
    bottom: 0;
}


.full,.container {
    width:100% !important;
}

.link {
    text-decoration: underline;
    color: blue;
}

.link:hover {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}


/* COLORS */

.white {
    color: white;
}

.blue {
    color: #56A3A6;
}

.bg-blue {
    background-color: #56A3A6;
}

.brown {
   color: #484538;
}

.bg-brown {
   background-color: #484538;
}

.yellow {
    color:#CAD49D
}

.bg-yellow {
    background-color:#CAD49D
}

.green{
    color: green
}

.red{
    color: red;
}

.light-green {
    color: #d4EAC8;
}

.bg-light-green {
    background-color: #d4EAC8;
}

.light-blue {
    color: #C0D8E0;
}

.bg-light-blue {
    background-color: #C0D8E0;
}

.gray {
    color: gray;
}

.lightgray {
    color: lightgray;
}

.bg-lightgray {
    background-color: rgba(215,215,215,.3);
}

.white {
    color: white;
}

.bg-white {
    background-color: white;
}

.op-5 {
    opacity: .9
}

.op-4 {
    opacity: .75
}

.op-3 {
    opacity: .5
}

.op-2 {
    opacity: .25
}

.op-1 {
    opacity: .1
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.hidden {
    display: none !important;
}

.left-align {
    text-align: left;
}


.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .right {
      float: right;
  }

  .mobile-only {
    display: none;
}

.desktop-only {
    display: block;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.h1{font-size:2rem}.h2{font-size:1.5rem}.h3{font-size:1.25rem}.h4{font-size:1rem}.h5{font-size:.875rem}.h6{font-size:.75rem}.h7{font-size:.9rem}

@media(min-width:767px) {
    .d-absolute {
        position: absolute;
    }
}

@media(max-width:985px) {
    .mobile-only {
        display: flex;
    }

    .desktop-only {
        display: none;
    }

    .m-h1{font-size:2rem}.m-h2{font-size:1.5rem}.m-h3{font-size:1.25rem}.m-h4{font-size:1rem}.m-h5{font-size:.875rem}.m-h6{font-size:.75rem}.m-h7{font-size:.5rem}
}

@media(max-width:766px) {
    .m-left-align {
        text-align: left;
    }
}







